body {
    text-align: center;
}

h1 {
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 1%;
}

h2 {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 2%;
}

h3 {
    font-size: 1.3em;
    margin-bottom: 4%;
}

a {
    display: block;
}

div {
    display: inline-block;
    margin-bottom: 1%;
    border: 1px solid black;
    padding: 3%;
}

li {
    margin-bottom: 1%;
}

table {
    width: 80%;
    margin: auto;
}

th {
    font-size: 1.5em;
    background-color: grey;
    margin: 0;
}

td {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}