<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{common :: head}">
    </head>

    <body>
        <header>
            <h1>Albums!</h1>
        </header>
        <main>
            <div th:each="album : ${albums}">
                <h2 th:text="${album.title}"></h2>
                <h3 th:text="${album.artist}"></h3>
                Song Count: <p th:text="${album.songCount}"></p>
                Length in seconds: <p th:text="${album.length}"></p>
                <img th:src="${album.imageUrl}">
                <a th:href="@{'/albums/' + ${album.id}}">View This Album</a>
            </div>

            <h2>Add an Album!</h2>
            <form action="/albums" method="POST">
                <label>Title <input name="title"></label>
                <label>Artist <input name="artist"/></label>
                <label>Song Count <input name="songCount"/></label>
                <label>Length <input name="length"/></label>
                <label>Artwork URL <input name="imageUrl"/></label>
                <input type="submit"/>
            </form>
        </main>

    </body>

</html>