<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{common :: head}">
    </head>

    <body>
        <header>
            <h1>Songs!</h1>
        </header>

        <main>
            <table>
                <thead>
                    <tr>
                        <th>Song Title</th>
                        <th>Album</th>
                        <th>Song Length</th>
                        <th>Track Number</th>
                    </tr>
                </thead>
                <tr th:each="song : ${songs}">
                    <td th:text="${song.title}"></td>
                    <td th:text="${song.album.title}"></td>
                    <td th:text="${song.length}"></td>
                    <td th:text="${song.trackNumber}"></td>
                </tr>
            </table>
        </main>
    </body>
</html>